@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Scada', sans-serif;
}

*, *::before,*::after {
  box-sizing: inherit;
}

header {
  position: relative;
  background-color: #919191;
}

.nav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15.6em;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ccc;
}

.nav a:hover {
  background-color: red;
  color: #fff;
}


.nav-check {
  position: absolute;
  top: -3em;
}


.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-lable {
  background-color: #cccccc;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

a {
  text-decoration: none;
}

.section {
  background-color: #cccccc;
}

.section-mid {
  background-color: #afafaf;
}

.sec-3 {
  background-color: #999999;
}

.btn {
  background-color: #c9afaf;
}

.logo {
  width: 30%;
}

a:focus, [tabindex="0"]:focus,
input:focus, textarea:focus, button:focus {
  outline: 3px solid #ffce00;
  outline-offset: 3px;
}
